<%= session['mati_auth']['access_token'] %>

<%= form_tag "/submit_uploade_data", multipart: true do |f| %>
  <b>Choose Type</b>:<br>
  <input type="radio" id="postageyes" name="input_type" value="document-photo" /> Document-photo
  <input type="radio" id="postageno" name="input_type" value="selfie-photo" /> Selfie-photo
  <input type="radio" id="postageno-v" name="input_type" value="selfie-video" /> Selfie-video
  <br>
  <br>
  <br>
  <div id="document_photo">
    <input type="hidden" name="group" value="0">
    <input type="hidden" name="identity_id" value="<%= @identity.id %>">
    Type:
    <select name="type" id="document_type">
      <option></option>
      <option value="national_id">National id</option>
      <option value="driving_license">Driving License</option>
      <option value="passport">Passport</option>
      <option value="proof_of_residency">Proof of residency</option>
    </select>
    <br>
    Country: 
    <%= select_tag('country', options_from_collection_for_select(CS.countries, :first, :last), {id: "documents_country_id"}) %>
    <br>
    State: 
    <div class="state-select-box">
      <%= select_tag('state', options_for_select([]), id: "document_state") %>
    </div><br>

    Front Photo: <input type="file" name="fron_file" id="document_fron_file">
    <br>
    <div id="back_photo_file" style="display: none;">
      Back Photo: <input type="file" name="back_file" id="document_back_file">
      <br>
    </div>
    <br>
    <input type="submit" value="Submit">
  </div>
  <div id="selfi_photo">
    Photo: <input type="file" name="photo" id="document_selfi_photo">
    <input type="submit" value="Submit">
  </div>
  <div id="selfi_video">
    Video: <input type="file" name="video" id="document_selfi_video">
    <input type="submit" value="Submit">
  </div>
  
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('input:radio[name="input_type"]').change(function(){
      $("input").removeAttr("required");
      $("select").removeAttr("required");
      if($(this).val() == 'document-photo'){
        $('#document_photo').show();
        $('#selfi_photo').hide();
        $('#selfi_video').hide();
        $("#document_type").attr("required", "true");
        $("#document_country").attr("required", "true");
        $("#document_state").attr("required", "true");
        $("#document_fron_file").attr("required", "true");
      }
      else if ($(this).val() == 'selfie-photo'){
        $('#document_photo').hide();
        $('#selfi_photo').show();
        $('#selfi_video').hide();
        $("#document_selfi_photo").attr("required", "true");
      }
      else if ($(this).val() == 'selfie-video'){
        $('#document_photo').hide();
        $('#selfi_photo').hide();
        $('#selfi_video').show();
        $("#document_selfi_video").attr("required", "true");
      }
    });
    $('#document_type').change(function(){
      var document_type = $(this).val();
      if((document_type == 'driving_license') || (document_type == 'passport')){
        $('#back_photo_file').show();
        $("#document_back_file").attr("required", "true");
      }
      else{
        $('#back_photo_file').hide();
        $("#document_back_file").removeAttr("required");
      }
    });
    $('#documents_country_id').change(function(){
    var value = this.value ;
      $.ajax({
        url: "/identities/country_select",
        type: "GET",
        data: {country_code: value },
      })
    });
  });
</script>
<style type="text/css">
  #document_photo, #selfi_photo, #selfi_video{
    display: none
  }
</style>