<%= session['mati_auth']['access_token'] %>

<form action="/submit_uploade_data" method="post" id="form-id">
  <b>Choose Type</b>:<br>
  <input type="radio" id="postageyes" name="input_type" value="document-photo" /> Document-photo
  <input type="radio" id="postageno" name="input_type" value="selfie-photo" /> Selfie-photo
  <input type="radio" id="postageno" name="input_type" value="selfie-video" /> Selfie-video
  <br>
  <br>
  <br>
  <div id="document_photo">
    <input type="hidden" name="group" value="0">
    Type:
    <select name="type">
      <option></option>
      <option value="national_id">National id</option>
      <option value="driving_license">Driving License</option>
      <option value="passport">Passport</option>
      <option value="proof_of_residency">Proof of residency</option>
    </select>
    Country: 
    <select name="country">
      <option>Select</option>
      <% for country in @country %>
        <option value="<%= country%>"><%= country %></option>
      <% end %>
    </select>
    State: 
    <select name="state">
      <option>Select</option>
      <% for state in @regoin %>
        <option value="<%= state %>"><%= state %></option>
      <% end %>
    </select>
    Page: 
    <select name="page">
      <option>Select</option>
      <option value="front">Front</option>
      <option value="back">Back</option>
    </select>
    <%#= select_tag "country[]", options_for_select(@country.collect{|x| [x,x]}), {:multiple => :multiple, :size => 10} %>

    File: <input type="file" name="filename">
    <br>
    <input type="submit" value="Submit">
  </div>
  <div id="selfi_photo">
    Photo: <input type="file" name="photo">
    <input type="submit" value="Submit">
  </div>
  <div id="selfi_video">
    Video: <input type="file" name="video">
    <input type="submit" value="Submit">
  </div>
  
</form> 
<script type="text/javascript">
  $(document).ready(function(){
    $('input:radio[name="input_type"]').change(function(){
      if($(this).val() == 'document-photo'){
        $('#document_photo').show();
        $('#selfi_photo').hide();
        $('#selfi_video').hide();
      }
      else if ($(this).val() == 'selfie-photo'){
        $('#document_photo').hide();
        $('#selfi_photo').show();
        $('#selfi_video').hide();
      }
      else if ($(this).val() == 'selfie-video'){
        $('#document_photo').hide();
        $('#selfi_photo').hide();
        $('#selfi_video').show();
      }
    });
  });
</script>
<style type="text/css">
  #document_photo, #selfi_photo, #selfi_video{
    display: none
  }
</style>